@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

body,
html {
  font-family: 'IBM Plex Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif;
}

p, li, td, th {
  font-family: 'IBM Plex Serif', serif;
}
